@model IEnumerable<School.Models.Teacher>
@{
    ViewBag.Title = "List";
}


<nav>
    <br /> <p><a class="navlink" href="/Teacher/New">New Teacher</a></p>
</nav>


<div id="containerlist">
    <h2>List of Teachers</h2>
    <form action="/Teacher/List" method="GET">
        <input type="text" name="SearchKey" autocomplete="off" />
        <input type="submit" value="Search" />
    </form>
    <br />

    @foreach (var teacher in Model)
    {
        <div class="listitem row">
            <div class="col-md-12"><a href="/Teacher/Show/@teacher.Teacherid">@teacher.Teacherfname @teacher.Teacherlname</a></div>
        </div>
    }
</div>